header {
  position: fixed;
  top: 0;
  left: 0;
  width: 170px;
  height: 100%;
  background-color: #1a2138;
  color: #5574ff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 3px 1px rgba(0, 0, 0, 0.37);
}

img {
  width: 6rem;
  height: 6rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav ul li {
  margin-bottom: 15px;
}

nav ul li a {
  display: block;
  color: #5574ff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

nav ul li a:hover {
  background-color: #11172b;
}

.footer {
  margin-top: auto;
  text-align: center;
  font-size: 0.8em;
  color: #aaa;
}
