.date {
  display: flex;
  justify-content: end;
  padding: 10px;
}

ul {
  list-style: none;
}

.trade {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(128, 128, 128, 0.13);
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(31, 31, 53);
  justify-content: space-between;
  margin: 20px;
}

main {
  display: flex;
  justify-content: space-evenly;
}

img {
  width: 400px;
  height: 250px;
}
