<div class="trade">
  <header class="date">
    <span>{{ trade.creationDate | date : "dd-MM-yyyy" }}</span>
  </header>
  <div class="offers">
    <h4>Offered</h4>
    <div class="offers-items">
      @for (offered of trade.weapons.offered; let i = $index; track $index) {
      <app-weapon [weapon]="offered" [offered]="true" />
      }
    </div>
  </div>

  <main>
    <img src="flecha.png" alt="Swap arrow" class="swap-arrow" />
  </main>
  <div class="offers">
    <h4>Received</h4>
    <div class="offers-items">
      @for (received of trade.weapons.received; let i = $index; track $index) {
      <app-weapon [weapon]="received" [offered]="false" />
      }
    </div>
  </div>
</div>
