<button class="add" tooltip="Añadir">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 24 24"
    fill="none"
    stroke="white"
    stroke-width="4"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <line x1="12" y1="5" x2="12" y2="19" />
    <line x1="5" y1="12" x2="19" y2="12" />
  </svg>
</button>
<div class="trade">
  <header class="header">
    <span>{{ trade.creationDate | date : "dd-MM-yyyy" }}</span>
    <button class="delete">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <polyline points="3 6 5 6 21 6" />
        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
        <path d="M10 11v6" />
        <path d="M14 11v6" />
        <path d="M9 6V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v2" />
      </svg>
    </button>
  </header>
  <div class="offers">
    <app-offers-container title="Offered" color="#ffd700"
      >@for (offered of trade.weapons.offered; let i = $index; track $index) {
      <app-weapon [weapon]="offered" [offered]="true" />}</app-offers-container
    >
  </div>
  <main>
    <img src="flecha.png" alt="Swap arrow" class="swap-arrow" />
  </main>
  <div class="offers">
    <app-offers-container title="Received" color="#1e90ff"
      >@for (received of trade.weapons.received; let i = $index; track $index) {
      <app-weapon
        [weapon]="received"
        [offered]="false"
      />}</app-offers-container
    >
  </div>
</div>
