.weapon {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  background-color: rgba(37, 37, 56, 0.582);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 160px;
  justify-content: space-between;
}

img {
  max-height: 80px;
  width: auto;
  object-fit: contain;
}

.pie-foto {
  text-align: center;
  font-size: 0.9em;
  color: #ffffff;
  margin-top: 5px;
}

.weapon-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.stattrak {
  color: orange;
}

.souvenir {
  color: yellow;
}
