<section class="weapon">
  <div class="weapon-data">
    @if (weapon.offered){

    <span>Offered</span>
    } @else { <span>Received</span> }
    <img [src]="weapon.weapon.img" />
  </div>
  <div class="pie-foto" [ngClass]="{ stattrak: weapon.weapon.stattrak }">
    @if(weapon.weapon.stattrak){
    <span>StatTrak™ {{ weapon.weapon.name }}</span>
    } @else if(weapon.weapon.souvenir) {
    <span [ngClass]="{ souvenir: weapon.weapon.souvenir }">{{
      weapon.weapon.name
    }}</span>
    } @else {
    <span>{{ weapon.weapon.name }}</span>
    }
  </div>
</section>
